.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 10px 15px;
  border-top: none;
}

.card-footer {
  padding: 10px 15px;
}

ngx-gallery /deep/ .ngx-gallery-arrow {
  color: #F3969A !important;
}

ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-active {
  border: 1px double #F3969A !important;
  border-radius: 5%;
}
