.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.card-body {
  padding: 10px 15px;
  border-top: none;
}

.card-footer {
  padding: 10px 15px;
}

.alert-info {
  background-color: #c27878;
}
