<div class="row">
  <div class="col-sm-3 mb-2" *ngFor="let photo of photos">
    <img src="{{photo.urlPhoto}}" class="img-thumbnail p-1" alt="">
    <button type="button" class="btn btn-default text-dark w-50" (click)="setMain(photo)" [disabled]="photo.isMain"
      [ngClass]="photo.isMain ? 'btn-primary active': 'btn btn-secondary btn-gray'">Main</button>
    <button type="button" class="btn btn-secondary text-dark w-50" (click)="deletePhoto(photo.id)"><i class="fa fa-trash-o"></i></button>
  </div>
</div>

<div class="row mt-4 text-center">
  <div class="col-md-3">
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
      [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone"
      style="color: black; background-color: #F3969A;">
      <i class="fa fa-upload fa-3x"></i>
      <a style="padding-bottom: 9px;">Drag here</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-faded p-3 text-center my-drop-zone text-dark" style="background-color: #78C2AD;">
      <div class="upload-btn-wrapper">
        <span class="fileSpan">
          <label for="photo"><span class="button"><i class="fa fa-upload fa-3x"></i></span>Browse</label>
          <input type="file" ng2FileSelect [uploader]="uploader" multiple name="photo" id="photo" />
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td nowrap>
            <span class="fa fa-trash fa-2x" style="color: #FF7851;" (click)="item.remove()"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress mb-4">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">
        <span class="fa fa-upload"></span> Upload
      </button>
      <button type="button" class="btn btn-warning btn-s ml-2" (click)="uploader.cancelAll()"
        [disabled]="!uploader.isUploading">
        <span class="fa fa-ban"></span> Cancel
      </button>
      <button type="button" class="btn btn-danger btn-s ml-2" (click)="uploader.clearQueue()"
        [disabled]="!uploader.queue.length">
        <span class="fa fa-trash"></span> Remove
      </button>
    </div>
  </div>
</div>
